* {
    padding: 0px;
    margin: 0px;

}

body {
    max-width: 100vw;

    /* box-sizing: border-box; */
    overflow-x: hidden;
    overflow-y:visible;
   
    
}
body::-webkit-scrollbar {
    /* width: 1vw; */
  display: none;
  }

#header {
    /* position: absolute; */
    /* left: 0px; */
    max-width: 100vw;
    min-height: 60vh;
    /* margin-bottom: 10vh; */
}
.logo{
    max-width: 100px;
    min-width: 5px;
}

.navbar {
    position: absolute;
    z-index: 2;
    left: 0px;
}

.navbar::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(74, 71, 80);
    opacity: .4;
    z-index: -1;

}

#hero {
    position: absolute;
    left: 0px;
    top: 0px;
}

#hero .carousel-item img {
    height: 60vh !important;
    width: 100vw !important;
    z-index: 1;

    object-fit: cover !important;
    opacity: .7;

}

.nav-item>a {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder !important;
    /* font-size: 1.5rem !important; */
}

#content1 {
    margin-bottom: 10vh;
}


#content {
    display: flex;
}

.left-side {
    width: 100%;
}
.blur{
    position: absolute;

}
.blur::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    filter: blur(50);
    z-index: -4;
    border-radius: 2px;
}
.image-blur{
    /* filter: contrast(.4); */
    filter: sepia(.2);
}


@media (max-width: 768px) { 

.carousel-caption-small{
    
    height: 70% !important;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50,-50);
    overflow-y: auto;
}

 }
